/* Fonts */
@import url('fonts.css');


/* delete */

 #menu-item-467, #menu-item-476{
    display: none !important;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../images/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

/* Typography */

body {
    color: #272727;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    font-family: 'montserratultra_light';
    transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    color: #e57500;
}


a:hover {
    color: #989898;
}


h1 {
    font-family: 'montserratultra_light';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #4f4f4f;
}

h2 {
    font-family: 'CoreMellow15Thin';
    font-size: 60px;
}

h3 {
    font-family: 'montserratultra_light';
    font-size: 22px;
    letter-spacing: 10px;
    color: #4f4f4f;
}

h4 {
    font-family: 'montserratsemi_bold';
    font-size: 30px;
}

h4.section-title {
    font-family: 'CoreMellow25ExtraLight';
    color: #e57500;
    font-size: 64px;
    background: -webkit-linear-gradient(top, #e77d1b 0%, #e77d1b 54%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -5px;
}

h5 {
    font-family: 'montserratregular';
    font-size: 24px;
}

p {
    font-family: 'montserratultra_light';
    font-size: 16px;
    line-height: 24px;
}

.orange {
    color: #e57500;
}

.uppercase {
    text-transform: uppercase;
}

.center-align-text {
    text-align: center;
}

/* Layout */


.gray-to-white-bg {
    background: -webkit-linear-gradient(top, #dbdbdc 0%, #ffffff 90%, #dbdbdc 100%);
    background: linear-gradient(to bottom, #ededec 0%, #ffffff 90%, #ededec 100%);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-floats:after {
    content: "";
    display: table;
    clear: both;
}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}

.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.top-ellipses {
    background: url('../images/top_elipses.png') no-repeat center bottom;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 100%;
    height: 99px;
    position: absolute;
    z-index: 2;
    top: 21%;
}

.top-ellipses.gray {
    background: url('../images/what_is_mixed_reality_bg.png') no-repeat center top;
}

.bottom-ellipses {
    background: url('../images/bottom_elipses.png') no-repeat center bottom;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 100%;
    height: 99px;
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.bottom-ellipses.gray {
    background: url('../images/what_is_mixed_reality_bg.png') no-repeat center top;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.title-container {
    position: relative;
    z-index: 3;
}

.remove-scrollbar {
    overflow: hidden !important;
}

.responsive-video-wrapper {
    position: relative;
}

.responsive-video-wrapper video {
    width: 100%;
    height: auto;
}

.visible-content {
    display: block;
}

.hidden-content {
    display: none;
}

/* Misc */

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    position: relative;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    z-index: 5;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.float-right {
    float: right;
}

.plus-icon {
    display: inline-block;
    margin-top: -8px;
    padding-top: 10px;
}

.plus-icon img {
    width: 50px;
    height: auto;
    max-width: 100%;
}

/* Nav */

.fueltech-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    visibility: hidden;
    z-index: 15;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-y: auto;
    background: #fff;
}

/* Nav Wrapper */

.fueltech-nav .fueltech-nav-wrapper:first-of-type {
    /*flex: 0 0 28%*/
}

.fueltech-nav-wrapper {
    height: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    color: #fff;
}

.fueltech-nav-wrapper .inner {
    padding: 25px;
    position: absolute;
    top: 45%;
    width: 100%;
}

.fueltech-nav-wrapper .inner .fueltech-navigation-list.float-left {
    width: 48%;
}

.fueltech-nav-wrapper .logo-block {
    position: absolute;
    top: 45px;
    left: 15px;
}

.fueltech-nav-wrapper .logo-block a {
    display: inline-block;
}

.fueltech-nav-wrapper .logo-block img {
    display: block;
    width: 220px;
    height: auto;
    max-width: 100%;
    opacity: 0;
}

.fueltech-nav-wrapper {
    border-right: 1px solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(196, 196, 196, 1)), to(rgba(255, 255, 255, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(rgba(196, 196, 196, 1), rgba(255, 255, 255, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(rgba(196, 196, 196, 1), rgba(255, 255, 255, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(rgba(196, 196, 196, 1), rgba(255, 255, 255, 0)) 1 100%;
    border-image: linear-gradient(to bottom, rgba(196, 196, 196, 1), rgba(255, 255, 255, 0)) 1 100%;
}

.fueltech-nav .fueltech-nav-wrapper:last-of-type {
    border: none;
}

/*.fueltech-nav .fueltech-nav-wrapper:first-of-type {*/
/*background: url('../images/navigation/creative_technologist.png') no-repeat left top #fff;*/
/*-webkit-background-size: 100%;*/
/*background-size: 100%;*/
/*}*/

/*.fueltech-nav .fueltech-nav-wrapper:nth-of-type(2) {*/
/*background: url('../images/navigation/we_empower.png') no-repeat left top #fff;*/
/*-webkit-background-size: 100%;*/
/*background-size: 100%;*/
/*}*/

/*.fueltech-nav .fueltech-nav-wrapper:nth-of-type(3) {*/
/*background: url('../images/navigation/we_innovate.png') no-repeat left top #fff;*/
/*-webkit-background-size: 100%;*/
/*background-size: 100%;*/
/*}*/

/*.fueltech-nav .fueltech-nav-wrapper:nth-of-type(4) {*/
/*background: url('../images/navigation/we_incubate.png') no-repeat left top #fff;*/
/*-webkit-background-size: 100%;*/
/*background-size: 100%;*/
/*}*/

/*.fueltech-nav .fueltech-nav-wrapper:last-of-type {*/
/*background: url('../images/navigation/we_incubate.png') no-repeat left top #fff;*/
/*-webkit-background-size: 100%;*/
/*background-size: 100%;*/
/*}*/

/* Nav List */

.fueltech-navigation-list dd {
    margin-bottom: 25px;
}

.fueltech-navigation-title {
    font-size: 30px;
    margin-bottom: 45px;
    font-family: 'CoreMellow25ExtraLight';
    color: #e57500;
    line-height: 30px;
    display: flex !important;
    height: 60px;
    width: 100%;
}

.fueltech-navigation-title span {
    display: inline-block;
    align-self: flex-end;
}

.fueltech-navigation-list a {
    font-family: "proxima-nova-alt";
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    color: #989898;
    opacity: 1;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.fueltech-navigation-list a:hover {
    color: #e57500;
}

.fueltech-navigation-list a,
.fueltech-navigation-title {
    display: inline-block;
    position: relative;
    opacity: 0;
    text-transform: uppercase;
}

/* Menu Button */

.cd-nav-trigger {
    top: 30px;
    right: 20px;
    height: 24px;
    width: 60px;
    background-color: transparent;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    position: fixed;
    color: transparent;
    z-index: 20;
}

.cd-nav-trigger .cd-icon,
.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
    /* icon created in CSS */
    position: absolute;
    background-color: #272727;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-nav-trigger .cd-icon {
    /* middle line of the menu icon */
    display: inline-block;
    width: 30px;
    height: 2px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    -moz-transition: -moz-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
}

.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
    /* upper and lower lines of the menu icon */
    content: '';
    top: 0;
    left: 0;
    height: 100%;
}

.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
    /* upper and lower lines of the menu icon */
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-nav-trigger .cd-icon::before {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cd-nav-trigger .cd-icon::after {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

.cd-nav-trigger.nav-open .cd-icon {
    /* user opens the navigation - transform the icon into an x */
    background-color: rgba(255, 255, 255, 0);
}

.cd-nav-trigger.nav-open .cd-icon::after {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.cd-nav-trigger.nav-open .cd-icon::before {
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

/* Header */

header {
    position: relative;
}

header .logo {
    width: 450px;
}

header .ui.text.container {
    max-width: 550px !important;
    padding: 0 25px;
}

header p {
    color: #2d2d2d;
}

header a {
    font-size: 14px;
    font-family: 'proxima-nova-alt';
    font-weight: 700;
    color: #e57500;
    text-transform: uppercase;
}

.home #header-logo-container img  {
    display: none;
}

.page-template-interior-page #portfolio {
    display: none;
}

#header-logo-container {
    position: fixed;
    padding: 15px 45px 45px 30px;
    height: 81px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

#header-logo-container.scrolled {
    box-shadow: 0 1px 7px 1px rgba(0, 0, 0, .2);
    background: #fff;
}

#header-logo-container a {
    display: inline-block;
}

#header-logo-container img {
    width: 200px;
    height: auto;
    max-width: 100%;
}

/* Rotating - Banner Owl Carousel */

#rotating-banner {
    position: relative;
    padding-top: 50px;
}

#rotating-banner.owl-carousel .owl-item img.logo {
    width: 450px;
    max-width: 100%;
}

#rotating-banner.owl-carousel .owl-item a:hover {
    color: #e77d1b;
    text-decoration: underline;
}

#rotating-banner.owl-carousel .owl-item img.banner-image {
    width: 800px;
    max-width: 100%;
}

.owl-dots {
    display: none !important;
}

.owl-dot,.owl-dot span {
    display: inline-block;
}

.owl-dot span {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #c0c1c2;
    margin-right: 8px;
}

.owl-dot.active-dot span {
    background: #dc6e1f;
}

.owl-dot:last-of-type span {
    margin-right: 0;
}

.fueltech-dots {
    margin-top: 20px;
}

/* Pulsing Button */

header .pulse-button-container {
    position: relative;
    z-index: 2;
}

.pulse-button-container {
    width: 200px;
    margin: 0 auto 0;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.pulse-button {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: rgb(229, 117, 0);
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(229, 117, 0, 0.5);
    -webkit-transition: opacity 1.3s .5s;
}

.pulse-button:after {
    content: '';
    -webkit-animation: pulse 1.8s 0.66666s ease-out infinite;
    animation: pulse 2.5s 1.8s 0.66666s ease-out infinite;
    border-radius: 50%;
    border: none;
    background: rgb(229, 117, 0);
    box-shadow: 0 0 0 0 rgba(229, 117, 0, 0.5);
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.pulse-button:before {
    content: '';
    -webkit-animation: pulse 1.8s 0.33333s ease-out infinite;
    animation: pulse 1.8s 0.33333s ease-out infinite;
    border-radius: 50%;
    border: none;
    background: rgb(229, 117, 0);
    box-shadow: 0 0 0 0 rgba(229, 117, 0, 0.5);
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(229, 117, 0, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(229, 117, 0, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

.pulse-button span {
    display: block;
    background: url(../images/icon_arrow_light.svg) no-repeat center center;
    -webkit-background-size: 20%;
    background-size: 20%;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}

/* Lines */

.pulse-button-container .line-container {
    margin-top: 30px;
}

.line-container {
    width: 1px;
    height: 150px;
    margin: 0 auto;
}

.bottom-vertical-line {
    width: 1px;
    height: 150px;
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(229, 117, 0, 1) 48%, rgba(255, 255, 255, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(229, 117, 0, 1) 48%, rgba(255, 255, 255, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(229, 117, 0, 1) 48%, rgba(255, 255, 255, 0.9) 100%);
}

/* Creative Technologist */

#creative-technologist-grid {
    margin-top: -180px;
}

#creative-technologist-grid .ui.grid {
    width: 100%;
    margin: 0;
}

#creative-technologists .title {
    position: relative;
    z-index: 2;
}

#creative-technologists {
    position: relative;
    text-align: center;
    height: 975px;
}

div.battery {
    height: 70%;
    width: 180px;
    position: absolute;
    left: 50.5%;
    margin-left: -90px;
    z-index: 2;
}

div.battery .inner {
    max-width: 200px;
    margin-top: 100%;
}

div.battery .inner img {
    width: 200px;
    max-width: 100%;
}

#creative-technologist-grid,
#creative-technologist-grid > .ui.grid,
#creative-technologist-grid .ui.grid > .column {
    height: 100%;
}

#creative-technologists h5 {
    font-family: "montserratlight";
    font-size: 22px;
    font-weight: normal;
}

#creative-technologists > .inner {
    max-width: 550px;
    margin: 0 auto;
}

#creative-technologists .circle-background {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% !important;
    background-size: 100% !important;
}

#creative-technologist-grid .grid .column:first-of-type .circle-background {
    background: url('../images/creative_technologies_cIrcle_graph_left.svg') right top no-repeat;
    right: -70px;
    top: 0;
}

#creative-technologist-grid .grid .column:last-of-type .circle-background {
    background: url('../images/creative_technologies_cIrcle_graph_right.svg') left top no-repeat;
    left: -50px;
    top: 0;
}

#creative-technologists .circle-background.left .ui.grid.inner .row:nth-of-type(2) {
    left: -23%;
}

#creative-technologists .circle-background.right .ui.grid.inner .row:nth-of-type(2) {
    right: -23%;
}

#creative-technologist-grid .icon, #creative-technologist-grid .icon-container {
    width: 185px;
    height: auto;
    max-width: 100%;
    display: inline-block;
}

#creative-technologist-grid .column .icon-container {
    position: relative;
    z-index: 2;
}

#creative-technologist-grid .column .icon-container:first-of-type {
    margin-right: 15px;
}

#creative-technologist-grid .column .icon-container .inner {
    height: 189px;
    cursor: pointer;
}

#creative-technologist-grid .column .icon-container .inner section.back {
    background: url('../images/icon_circle_active.png') left top no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#creative-technologist-grid .column .icon-container .inner section.back .copy {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    color: #fff;
    font-family: 'CoreMellow35Light';
}

.coin-page-link {
    font-family: montserratbold;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    color: #fff;
    margin-top: 5px;
}

.coin-page-link:hover {
    color: #fff;
    text-decoration: underline;
}

#creative-technologist-grid .grid.inner {
    width: 450px;
    max-width: 100%;
    margin: 20% auto 0 auto;
}

/* We Fuel/Portfolio */



#we-fuel,
#portfolio {
    position: relative;
}

#portfolio a {
    display: block;
}

#portfolio a img {
    width: 100%;
    display: block;
}

#portfolio .column,
#portfolio .row {
    padding: 0 !important;
}

.portfolio-project-container .ui.grid {
    width: 100%;
    margin: 0;
}

/* Portfolio Filter */

#portfolio-filter {
    margin: 25px 0;
}

#portfolio-filter ul {
    display: table;
    width: 100%;
}

#portfolio-filter li {
    display: table-cell;
    width: 14.29%;
    text-align: center;
    padding: 0;
}

#portfolio-filter li:before {
    display: none;
}

#portfolio-filter a {
    display: inline-block;
    font-family: 'montserratregular';
    font-size: 16px;
    text-transform: uppercase;
    color: #4f4f4f;
}

#portfolio-filter a.active-filter {
    color: #e57500;
    text-decoration: underline;
}

.portfolio-container {
    position: relative;
    width: 100%;
}

.portfolio-container.hover .portfolio-container-inner {
    opacity: .96 !important;
}

.portfolio-container .portfolio-container-inner {
    background: -moz-linear-gradient(top, #e5a267 0%, #e77d1b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5a267 0%, #e77d1b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5a267 0%, #e77d1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.portfolio-container-inner .portfolio-description {
    display: none;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
}

.portfolio-container .portfolio-container-inner h3, .cd-project-content h3 {
    font-size: 25px;
    margin: 20px;
    font-family: 'CoreMellow25ExtraLight';
    color: #fff;
    letter-spacing: 0;
}


.cd-project-content h3 {
    color: #4f4f4f;
}

.portfolio-container .portfolio-container-inner .project-logo {
    display: inline-block;
    width: 225px;
    height: auto;
    max-width: 100%;
}

.portfolio-container .portfolio-container-inner .project-logo:after, .project-company-logo:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
}

.project-company-logo:after {
    background: #4f4f4f;
}

/* Projects */

.projects {
    display: none !important;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.active-projects {
    display: block !important;
}

/* Project Container */

.cd-project-content {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*visibility: hidden;*/
    background-color: #fff;
    /* Force Hardware Acceleration */
    /*-webkit-transform: translateZ(0);*/
    /*-moz-transform: translateZ(0);*/
    /*-ms-transform: translateZ(0);*/
    /*-o-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
    /*-webkit-transform: translateY(100%);*/
    /*-moz-transform: translateY(100%);*/
    /*-ms-transform: translateY(100%);*/
    /*-o-transform: translateY(100%);*/
    /*transform: translateY(100%);*/
    /*-webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;*/
    /*-moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;*/
    /*transition: transform 0.4s 0s, visibility 0s 0.4s;*/
    /*-webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);*/
    /*-moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);*/
    /*transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);*/
}

.cd-project-content .inner {
    height: 100%;
    overflow-y: auto;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.cd-project-content > .inner > * {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.cd-project-content.is-visible {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}

.cd-project-content.is-visible > .inner {
    /* smooth scrolling on iOS */
    -webkit-overflow-scrolling: touch;
}

.cd-project-content .close {
    display: block;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../images/cd-close-dark.svg) no-repeat center center;
    color: transparent;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.cd-project-content .cd-project-content-carousel .owl-item section {
    width: 90%;
    margin: 0 auto;
}

.cd-project-content .cd-project-content-carousel .owl-prev, .cd-project-content .cd-project-content-carousel .owl-next {
    position: absolute;
    top: 45%;
    color: #fff;
    font-size: 36px;
    float: none !important;
}

.cd-project-content .cd-project-content-carousel .video-js-responsive-container .video-js {
    height: 90% !important;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.cd-project-content .cd-project-content-carousel .owl-prev {
    left: 0;
}

.cd-project-content .cd-project-content-carousel .owl-next {
    right: 0;
}

.project-company-logo ~ h3 {
    margin-bottom: 50px;
}

.project-company-logo {
    text-align: center;
}

.project-company-logo img {
    max-width: 100%;
    width: 200px;
    height: auto;
    display: inline-block;
}

.owl-navigation-container {
    position: relative;
    z-index: 2;
    width: 100%;
}

.owl-navigation-container .owl-next, .owl-navigation-container .owl-prev {
    cursor: pointer;
}

.owl-navigation-container .owl-next {
    float: right;
}

.owl-navigation-container .owl-prev {
    float: left;
}

/* We Innovate */

#we-innovate {
    height: 1200px;
}

#we-innovate .inner {
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
}

/* Software Applications */

#software-applications {
    margin: 65px 0;
}

#software-applications .ui.grid {
    width: 100%;
    margin: 0;
}

#software-applications .ui.grid .column:first-of-type {
    padding-left: 0 !important;
}

#software-applications .ui.grid {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#software-applications .inner {
    max-width: 640px;
    margin: 0;
    text-align: left;
}

#software-applications .inner img {
    width: 430px;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

#software-applications p {
    font-size: 16px;
}

#software-applications p strong {
    font-weight: normal;
    font-family: 'montserratextra_bold';
    font-size: 24px;
}

#software-application-video .video {
    display: none !important;
}

#software-application-video section.active-video {
    display: block !important;
}

#logo-navigation img {
    width: 105px !important;
    height: auto;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
}

#logo-navigation img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#logo-navigation img:last-of-type {
    margin-right: 0;
}

.software-application {
    display: none !important;
    height: auto !important;
}

.active-software-application {
    display: block !important;
}

/* We Incubate */

#we-incubate {
    position: relative;
    margin-top: 250px;
}

#we-incubate img {
    width: 100%;
}

#we-incubate .circle {
    background-color: rgba(255, 255, 255, .95);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -200px;
}

#we-incubate .circle .inner {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#we-incubate .top-ellipses {
    top: -61px;
}

#we-incubate .line-container {
    width: 1px;
    height: 150px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 50%;
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    z-index: 3;
}

#we-incubate h4.section-title {
    font-size: 54px;
}

/* Our Clients Filter */

#our-clients {
    margin-bottom: 30px;
}

#clients {
    position: relative;
}

#our-clients .ui.container .client-type-label:first-of-type {
    margin-top: 45px;
}

#our-clients .ui.container .ui.grid .column, #our-clients .ui.container .client-type-label {
    margin-bottom: 45px;
}

.client-type-label {
    font-family: 'montserratregular';
    font-size: 16px;
    text-transform: uppercase;
    color: #e57500;
    text-align: center;
}

.client-list-container {
    margin-top: 45px;
}

.client-list-container img {
    width: 185px;
    height: auto;
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
    margin: 0 auto;
}


#our-clients .ui.grid {
    margin: 0 auto !important;
    width: 1127px;
    max-width: 100%;
}

#our-clients img {
    width: 185px;
    height: auto;
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
    margin: 0 auto;
}

/* Fuel for Thought */

#fuel-for-thought {
    margin-top: 50px;
}

.news-item {
    text-align: left;
}

#fuel-for-thought a {
    color: #fff;
    width: 100%;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    display: block;
}

#fuel-for-thought a:hover {
    background: #e77e1b !important;
}

#fuel-for-thought a .inner {
    padding: 30px;
}

#fuel-for-thought h2 {
    font-family: 'montserratultra_light';
    font-size: 40px;
}

/* Contact */

#contact {
    margin: 150px 0;
    text-align: center;
}

#contact .ui.grid {
    margin-top: 10px;
}

#contact .logo {
    width: 400px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 30px auto;
}

#contact .inner {
    max-width: 465px;
    max-width: 100%;
    margin: 0 auto;
}

#contact h5,
#contact p {
    margin-bottom: 0;
}

#contact h5 {
    color: #e57500;
}

#contact p,
#contact a {
    font-size: 16px;
    line-height: 20px;
}

#contact a {
    color: #272727;
}

#contact a:hover {
    text-decoration: underline;
}

#contact .ui.grid:last-of-type {
    margin-top: 0;
}

#contact.interior h2 {
    margin-bottom: 125px;
}

.demo-cta {
    color: #515151;
    font-size: 18px;
    font-family: 'CoreMellow67CnBold';
    margin-top: 10px;
}

/* Forms */

#contactForm, .ui.form .ui.button {
    text-align: left;
}

.ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number], .ui.form textarea, .ui.form input:not([type]):focus, .ui.form input[type=text]:focus, .ui.form input[type=email]:focus, .ui.form input[type=search]:focus, .ui.form input[type=password]:focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus, .ui.form input[type=number]:focus, .ui.form textarea:focus, .ui.button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'montserratultra_light';
}

.ui.form input:not([type]):focus, .ui.form input[type=text]:focus, .ui.form input[type=email]:focus, .ui.form input[type=search]:focus, .ui.form input[type=password]:focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus, .ui.form input[type=number]:focus, .ui.form textarea:focus {
    border-color: rgba(229, 117, 0, .8);
}

.ui.form .fields>.field {
    padding: 0 !important;
}

#contact .ui.form .ui.button {
    background:rgb(229, 117, 0);
    color: #fff;
    text-transform: uppercase;
    font-family: proxima-nova-alt;
    font-weight: 700;
}

#contact .ui.form .ui.button:hover {
    background:rgba(229, 117, 0, .5);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
}
:-ms-input-placeholder { /* IE 10+ */
    text-transform: uppercase;
}
:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
}

div.wpcf7-response-output {
    border: 2px solid rgb(229, 117, 0);
    padding: 15px 5px;
    font-size: 12px;
    margin: 15px 0;
}

span.wpcf7-not-valid-tip, div.wpcf7-mail-sent-ok {
    margin-top: 12px;
}

/* Interior Pages */

.interior-page h1 {
    font-family: 'CoreMellow25ExtraLight';
    font-size: 64px;
    color: #e57500;
    background: -webkit-linear-gradient(top, #e77d1b 0%, #e77d1b 54%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -5px;
    line-height: 60px;
    padding: 15px 0;
}

.interior-page h1.title {
    font-family: 'CoreMellow25ExtraLight';
    font-size: 64px;
}

.interior-page .inner h5 {
    font-family: 'CoreMellow25ExtraLight';
    font-size: 30px;
    color: #272727;
}

.interior-page .inner p {
    font-family: "proxima-nova-alt";
    font-weight: 100;
    font-size: 20px;
    color: #515151;
}

.interior-page .inner p.title, .interior-page p.title {
    font-family: "proxima-nova-alt";
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 2px;
    line-height: 20px;
}

.interior-page p small {
    font-family: "proxima-nova-alt";
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    display: block;
}

.interior-page ul li {
    font-size: 16px;
    font-family: "proxima-nova-alt";
    font-weight: 300;
    color: #515151;
    margin-bottom: 8px;
    padding-left: 15px;
    position: relative;
}

.interior-page ul li:before {
    content: '+';
    display: inline-block;
    position: absolute;
    color: #E77D1B;
    padding-right: 5px;
    height: 100%;
    margin-left: -1.1em;
}

.interior-page #contact .logo {
    width: 200px;
}

.interior-page #contact h3 {
    font-size: 60px;
    color: #515151;
    font-family: 'CoreMellow15Thin';
    letter-spacing: -5px;
}

.page-intro {
    text-align: center;
    padding-top: 150px;
    position: relative;
}

.page-intro .inner p:first-of-type {
    margin-bottom: 0;
}

.page-intro .inner p ~ h5 {
    margin-top: 0;
}

.page-intro .icon img {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}

.page-intro .icon h4 {
    font-family: "proxima-nova-alt";
    font-weight: 100;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
}

.page-intro .hero-image {
    width: 1100px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: -16px auto 0 auto;
    position: relative;
}

.page-intro .pulse-button-container {
    margin: 20px auto 20px auto;
}

.page-intro .pulse-button-container .pulse-button, header .pulse-button-container .pulse-button {
    cursor: default;
}

.page-intro .inner {
    max-width: 650px;
    margin: 40px auto 40px auto;
}

/* Gamification */

#gamification-facts {
    text-align: center;
    margin: 50px 0;
}

#gamification-facts h1,
#gamification-facts p {
    margin: 0;
    color: #acacac;
}

#gamification-facts h1 {
    font-family: 'CoreMellow15Thin';
    line-height: 100px;
    font-size: 150px;
    background: -webkit-linear-gradient(top, #acacac 0%, #acacac 54%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gamification-facts p {
    font-size: 18px;
}

#gamification-facts .hero-img {
    margin: 70px auto 0 auto;
    width: 820px;
    height: auto;
    max-width: 100%;
    display: block;
}

/* CTA */

#cta {
    margin: 50px 0;
    position: relative;
}

#cta .top-ellipses {
    top: -47px;
}

#cta .bottom-ellipses {
    bottom: -45px;
}

#cta .ui.grid {
    width: 100%;
    margin: 0;
}

#cta .ui.grid .column {
    padding: 0 !important;
}

#cta .ui.grid .column:nth-of-type(2) {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#cta .ui.grid .column:last-of-type {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#cta .ui.grid .row {
    padding: 0;
}

#cta .column {
    cursor: pointer;
}

#cta .column .inner {
    position: relative;
    height: 402px;
}

#cta .column .content {
    padding: 20px;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#cta .column .inner {
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center bottom !important;
}

#cta .column .content .content-wrap.flex {
    position: relative;
    z-index: 2;
}

#cta .column .content .content-wrap * {
    margin-right: auto;
    color: #fff;
}

#cta .column .content p,
#cta .column .content h5 {
    margin: 0;
}

#cta .column .content p small {
    margin-top: 10px;
    display: block
}

#cta .column .content p.read-more {
    font-family: 'CoreMellow67CnBold';
    font-size: 16px;
    margin-top: 5px;
}

#cta .column .content h5 {
    font-family: 'CoreMellow25ExtraLight';
    font-size: 27px;
    line-height: 30px;
}

#cta .column .content .tint {
    background: rgba(0, 0, 0, .3);
}

#cta .hover-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(231, 125, 27, .8);
    display: none;
}

/* Services */

#services {
    margin: 50px 0;
}

#services p.title {
    margin-bottom: 10px;
}

/* Interior Page - Our Work/Portfolio */

.interior-page #portfolio {
    margin: 50px 0;
    min-height: 0;
}

.interior-page #portfolio h1 {
    position: relative;
    z-index: 3;
}

.interior-page #portfolio .projects {
    display: block !important;
    position: static;
}

.interior-page #portfolio .top-ellipses {
    top: 25px;
}

.interior-page #portfolio .bottom-ellipses {
    bottom: -59px;
}

/* Experential */


.page-experiential-technology .page-intro {
    background-repeat: no-repeat !important;
    -webkit-background-size: 76% !important;
    background-size: 76% !important;
    height: 1328px;
}

.page-experiential-technology .page-intro .inner {
    max-width: 1000px;
    padding: 0 60px;
}

.page-experiential-technology .page-intro .inner-content-wrap {
    position: absolute;
    bottom: -45px;
    width: 100%;
}

.page-experiential-technology .page-intro .title-content-wrap.flex {
    height: 100% !important;
    position: relative;
}

.page-experiential-technology .page-intro .title-content-wrap.flex section {
    position: relative;
}

.page-experiential-technology .page-intro .title-content-wrap.flex .pulse-button-container {
    width: 100%;
}

.page-experiential-technology h1.title {
    color: #fff;
    background: -webkit-linear-gradient(top, #fff 0%, #fff 40%, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 15px 0;
    font-size: 80px;
}

.page-experiential-technology h1.title span {
    display: block;
    margin-top: 5px;
}

/* Experential - Mixed Reality */

#mixed-reality {
    position: relative;
    margin-top: 200px;
}

#mixed-reality .ui.container h1:first-of-type {
    font-size: 80px;
}

#mixed-reality .container > .inner {
    max-width: 700px;
    margin: 0 auto 70px auto;
}

#mixed-reality .icon-wrap {
    max-width: 700px;
    margin: 0 auto 100px auto;
}

#mixed-reality .icon-wrap .inner {
    width: 250px;
    text-align: center;
}

#mixed-reality .icon-wrap .inner:first-of-type {
    float: left;
}

#mixed-reality .icon-wrap .inner:last-of-type {
    float: right;
}

#mixed-reality .icon-wrap .icon {
    width: 150px;
    height: auto;
    max-width: 100%;
}

#mixed-reality .icon-wrap p.title {
    margin: 0;
}

#mixed-reality-uses p.title {
    margin-bottom: 10px;
}

#mixed-reality .top-ellipses.gray {
    top: -99px;
}

#mixed-reality .bottom-ellipses.gray {
    bottom: -99px;
}

/* Experential - Why use mixed reality */

#why-use-mixed-reality {
    margin: 200px 0;
    position: relative;
}

#why-use-mixed-reality .inner {
    text-align: center;
    position: relative;
}

#why-use-mixed-reality .inner h1,
#why-use-mixed-reality .inner h5 {
    margin: 0;
}

#why-use-mixed-reality .icon {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
    max-width: 100%;
}

#why-use-mixed-reality #explore-icon img {
    margin-bottom: 35px;
}

#why-use-mixed-reality .inner section {
    position: relative;
    display: inline-block;
}

#why-use-mixed-reality #explore-icon section:before {
    content: url('../images/plus.svg');
    position: absolute;
    left: -150px;
    bottom: 50px;
    display: block;
    width: 50px;
    height: auto;
}

#why-use-mixed-reality #explore-icon section:after {
    content: url('../images/plus.svg');
    position: absolute;
    right: -150px;
    bottom: 50px;
    display: block;
    width: 50px;
    height: auto;
}

#why-use-mixed-reality #track-icon img {
    margin-top: 35px;
}

#why-use-mixed-reality #track-icon section:before {
    content: url('../images/plus.svg');
    position: absolute;
    left: -150px;
    top: 50px;
    display: block;
    width: 50px;
    height: auto;
}

#why-use-mixed-reality #track-icon section:after {
    content: url('../images/plus.svg');
    position: absolute;
    right: -150px;
    top: 50px;
    display: block;
    width: 50px;
    height: auto;
}

#why-use-mixed-reality .top-ellipses {
    bottom: -35px;
    top: auto;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

/* Experential - Digital Experience */

#digital-experience {
    position: relative;
    display: none !important;
}

#digital-experience .ui.grid {
    position: absolute;
    top: 0;
    left: 0;
}

#digital-experience .ui.grid .column,
#digital-experience .ui.grid {
    height: 100%;
    width: 100%;
}

#digital-experience .inner {
    position: absolute;
    right: 15%;
    top: 40%;
}

#digital-experience .circle {
    border-radius: 50%;
    width: 415px;
    height: 415px;
    background: #fff;
}

#digital-experience .circle-inner {
    padding-top: 60px;
    width: 240px;
    margin: 0 auto;
}

#digital-experience .circle h1 {
    color: #e57500;
    background: none;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentcolor;
    line-height: 50px;
    font-size: 50px;
    margin: 0;
}

/* Experential - Experential Activation */

#experiential-activation {
    margin: 200px 0;
    display: none !important;
}

#experiential-activation .inner {
    max-width: 750px;
    margin: 0 auto;
}

/* Experential - Platforms & Devices */

#platforms {
    position: relative;
}

#platforms img {
    display: block;
    margin: 0 auto;
    width: 1115px;
    max-width: 100%;
}

#platforms .top-ellipses.gray {
    top: -99px;
}

#platforms .bottom-ellipses.gray {
    bottom: -99px;
}

#platforms .line-container {
    position: absolute;
    bottom: -165px;
    left: 50%;
}

/* Experiential - End to to End Support */

#end-to-end-support {
    margin: 200px 0;
}

#end-to-end-support .inner {
    position: relative;
}

#end-to-end-support .inner img {
    display: block;
    margin: 0 auto 20px auto;
    width: 230px;
    max-width: 100%;
}

#end-to-end-support h1 {
    margin-bottom: 50px;
}

#end-to-end-support .ui.grid .column:after {
    content: url('../images/plus.svg');
    position: absolute;
    right: -25px;
    top: 110px;
    display: block;
    color: #acacac;
    width: 50px;
    height: auto;
}

#end-to-end-support .ui.grid .column:last-of-type:after {
    display: none;
}

/* Mobile Apps */

#mobile-apps-facts {
    text-align: center;
    margin: 50px 0;
}

#mobile-apps-facts h1,
#mobile-apps-facts p {
    margin: 0;
    color: #acacac;
}

#mobile-apps-facts h1 {
    font-family: 'CoreMellow15Thin';
    line-height: 100px;
    font-size: 150px;
    background: -webkit-linear-gradient(top, #acacac 0%, #acacac 54%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mobile-apps-facts p {
    font-size: 18px;
}

#mobile-apps-facts .hero-img {
    margin: 70px auto 0 auto;
    width: 820px;
    height: auto;
    max-width: 100%;
    display: block;
}

/* Virtual Reality */

#virtual-reality-facts-facts {
    text-align: center;
    margin: 50px 0;
}

#virtual-reality-facts h1,
#virtual-reality-facts p {
    margin: 0;
    color: #acacac;
}

#virtual-reality-facts h1 {
    font-family: 'CoreMellow15Thin';
    line-height: 100px;
    font-size: 150px;
    background: -webkit-linear-gradient(top, #acacac 0%, #acacac 54%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#virtual-reality-facts p {
    font-size: 18px;
}

#virtual-reality-facts .hero-img {
    margin: 70px auto 0 auto;
    width: 820px;
    height: auto;
    max-width: 100%;
    display: block;
}

/* Learning */

#learning-facts {
    text-align: center;
    margin: 50px 0;
}

#learning-facts h1,
#learning-facts p {
    margin: 0;
    color: #acacac;
}

#learning-facts h1 {
    font-family: 'CoreMellow15Thin';
    line-height: 100px;
    font-size: 150px;
    background: -webkit-linear-gradient(top, #acacac 0%, #acacac 54%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#learning-facts p {
    font-size: 18px;
}

#learning-facts .hero-img {
    margin: 70px auto 0 auto;
    width: 820px;
    height: auto;
    max-width: 100%;
    display: block;
}

/* 3D/Video */

#three-d-facts {
    text-align: center;
    margin: 50px 0;
}

#three-d-facts h1,
#three-d-facts p {
    margin: 0;
    color: #acacac;
}

#three-d-facts-facts h1 {
    font-family: 'CoreMellow15Thin';
    line-height: 100px;
    font-size: 150px;
    background: -webkit-linear-gradient(top, #acacac 0%, #acacac 54%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#three-d-facts p {
    font-size: 18px;
}

#three-d-facts .hero-img {
    margin: 70px auto 0 auto;
    width: 820px;
    height: auto;
    max-width: 100%;
    display: block;
}

/* Wearables */

#wearables-facts {
    text-align: center;
    margin: 50px 0;
}

#wearables-facts h1,
#wearables-facts p {
    margin: 0;
    color: #acacac;
}

#wearables-facts h1 {
    font-family: 'CoreMellow15Thin';
    line-height: 100px;
    font-size: 150px;
    background: -webkit-linear-gradient(top, #acacac 0%, #acacac 54%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#wearables-facts p {
    font-size: 18px;
}

#wearables-facts .hero-img {
    margin: 70px auto 0 auto;
    width: 820px;
    height: auto;
    max-width: 100%;
    display: block;
}

/* Footer */

footer {
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
}

footer .pulse-button-container {
    position: absolute;
    right: 50px;
    top: -15px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer .pulse-button {
    margin: 0;
}

/* Breadcrumb */

.breadcrumb {
    padding-top: 20px;
    margin-right: 40px;
}

.breadcrumb * {
    display: inline-block !important;
}

.breadcrumb a {
    font-family: 'CoreMellow45Regular';
    font-size: 16px;
    color: #515151;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.bread-current, .breadcrumbs .pipe {
    font-family: 'CoreMellow55Medium';
    font-size: 16px;
    color: #e77d1b;
    font-weight: normal;
}

.breadcrumbs .pipe {
    display: inline-block;
    margin: 0 5px;
}

#breadcrumbs li {
    padding: 0;
}

#breadcrumbs li:before {
    display: none;
}

/* Marketing */

#end-to-end-campaigns {
    max-width: 750px;
    margin: 0 auto;
}

#marketing-process {
    margin: 75px 0;
}

#marketing-process .ui.grid {
    width: 100% !important;
    margin: 0 !important;
}


#marketing-process img {
    width: 100px;
    height: auto;
    max-width: 100%;
    text-align: left;
    display: block;
}

#marketing-process ul li, #marketing-process h5 {
    text-align: left;
}

#marketing-process h5 {
    font-family: 'CoreMellow25ExtraLight';
}

#marketing-process .column {
    text-align: center;
}

.marketing-process-inner {
    display: inline-block;
}


/* Generic Page Container */

#generic-page-container {
    padding-top: 200px;
}

/* AJAX Contianer */

.ajax-container {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

/* AJAX Container - New */

.cd-project-carousel-container, .cd-project-hero-footer {
    background: rgba(152,152,152,.2);
    padding: 175px 0;
}

.cd-project-carousel-container-inner, .cd-project-hero-footer-inner {
    max-width: 75%;
    margin: 0 auto;
}

.cd-project-container {
    height: 100%;
    position: relative;
}

.cd-project-container-tint {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.cd-project-content .inner {
    height: 100%;
    position: relative;
    z-index: 2;
}

.cd-project-container .inner.logo {
    height: 60%;
}

.cd-project-container .inner.logo .project-company-logo {
    width: 100%;
}

.cd-project-container .inner.logo .project-company-logo:after {
    display: none;
}

.cd-project-container-background {
    position: relative;
    height: 100%;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center top;
}

.cd-project-container .inner.intro {
    left: 0;
    right: 0;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 65%;
    z-index: 3;
    background: rgba(152,152,152,.5);
    padding: 0;
}

.cd-project-container .inner.intro .inner {
    height: auto;
    max-width: 99.3%;
    margin: 0 auto;
    padding: 75px;
    background: #fff;
}

.cd-project-container .inner.intro h5 {
    color: #989898;
    font-family: 'montserratregular';
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.cd-project-container .inner.intro .inner h3 {
    margin: 0 0 25px 0;
}

.project-content p {
    font-size: 14px;
}

.project-content .column .one_half:first-of-type {
    padding-right: 60px;
}

.project-sidebar h5 {
    margin-bottom: 8px;
}

.project-sidebar p {
    font-family: 'montserratultra_light';
    font-size: 14px;
    color: #989898;
}

/* AJAX Loader */

.loader-container {
    position: relative;
}

.loader-container img {
    position: absolute;
    left: 50%;
}

/* Video JS Player */

.vjs-paused .vjs-big-play-button {
    display: inline-block;
}

.video-js .vjs-control-bar, .video-js .vjs-big-play-button, .video-js .vjs-menu-button .vjs-menu-content, .video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    background-color: #e57500;
    background-color: rgba(229, 117, 0, 0.7);
}

.video-js .vjs-slider, .video-js .vjs-load-progress {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}

video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

/* We Fuel/Blog */

.blog-list {
    padding: 80px 0;
}

.blog-list article {
    margin-bottom: 45px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDD;
}

.blog-list h2, .blog-list h2 a {
    font-family: 'montserratregular';
    font-size: 24px;
    line-height: 28px;
    color: #e77d1b;
    margin-bottom: 5px;
}

.blog-list h2 a:hover {
    color: #989898;
}


.blog-list article  > a {
    display: block;
}

.blog-list a.read-more {
    display: inline-block;
    background: #989898;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 5px 15px;
}

.blog-list .read-more:hover {
    background: #e77d1b;
    color: #fff;
}

.post-categories {
    margin-top: 20px;
}

.post-categories, .post-categories a {
    color: #989898;
    font-size: 12px;
    text-transform: uppercase;
}

.post-categories a:hover {
    color: #e77d1b;
}

.post-date {
    color: #989898;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.sidebar-block {
    margin-bottom: 10px;
}

.sidebar-block h5 {
    color: #989898;
    font-family: 'montserratregular';
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.sidebar-block ul li:before {
    display: none;
}

.sidebar-block ul li {
    padding: 8px 0;
    margin: 0;
}

.sidebar-block ul li, .project-sidebar .sidebar-block {
    border-bottom: 1px solid #DDD;
    padding-bottom: 8px;
}

.sidebar-block ul li a {
    color: #989898;
    font-size: 14px;
}

.sidebar-block ul li a:hover {
    color: #e77d1b;
}

.sidebar-block .post-date {
    margin-bottom: 0;
}

.source p {
    font-size: 14px;
}

.single-blog .feat-image {
    margin-bottom: 35px;
}

.single-blog h5 {
    color: #989898;
    font-family: 'montserratregular';
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-blog a {
    color: #e77d1b;
}

.single-blog a:hover {
    color: #989898;
}

.single-blog blockquote {
    margin-bottom: 20px;
}

.single-blog blockquote p {
    font-size: 24px;
    line-height: 35px;
}

.blog-header {
    margin-bottom: 50px;
    background: url('../images/banner_fuel_for_thought.jpg') no-repeat left bottom;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding: 100px 0;
    border-bottom: 1px solid rgba(152,152,152,.2);
    border-top: 1px solid rgba(152,152,152,.2);
    position: relative;
}

.blog-header .ui.container {
    position: relative;
    z-index: 2;
}

.blog-header .tint {
    background: rgba(0, 0, 0, .25);
}

.blog-header .post-date, .blog-header h2, .blog-header a {
    color: #fff;
}

.blog-header a:hover {
    color: #e77d1b;
}

.blog-header * {
    margin: 0;
}

/* Pagination */

.page-numbers {
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    background: #fff;
    position: relative;
}

.page-numbers:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
}

.page-numbers.current .item {
    background: #989898;
    color: #fff;
}

.pagination .ui.pagination.menu .item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.pagination .ui.pagination.menu .page-numbers:last-child {
    border-radius: 0 .28571429rem .28571429rem 0;
}

.pagination .ui.pagination.menu .page-numbers:first-child {
    border-radius: .28571429rem 0 0 .28571429rem;
}


a.page-numbers:hover .item {
    color: #e77d1b;
}

/* Our Work - Page */

.page-our-work .interior-page #portfolio {
    margin: 0;
}

.page-our-work #we-fuel {
    padding-top: 150px;
}

/*Our Clients - Page */

.page-our-clients #our-clients {
    padding-top: 150px;
}

/* Contact Us - Page */

.page-contact #contact {
    margin-top: 0;
    padding-top: 150px;
}