/**
 * @license
 * MyFonts Webfont Build ID 3244123, 2016-07-05T14:17:07-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: CoreMellow15Thin by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-mellow/thin/
 *
 * Webfont: CoreMellow25ExtraLight by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-mellow/extra-light/
 *
 * Webfont: CoreMellow35Light by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-mellow/light/
 *
 * Webfont: CoreMellow45Regular by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-mellow/regular/
 *
 * Webfont: CoreMellow55Medium by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-mellow/medium/
 *
 * Webfont: CoreMellow67CnBold by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-mellow/cn-bold/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3244123
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved.
 *
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/31805b");


@font-face {font-family: 'CoreMellow15Thin';src: url('webfonts/31805B_0_0.eot');src: url('webfonts/31805B_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31805B_0_0.woff2') format('woff2'),url('webfonts/31805B_0_0.woff') format('woff'),url('webfonts/31805B_0_0.ttf') format('truetype');}


@font-face {font-family: 'CoreMellow25ExtraLight';src: url('webfonts/31805B_1_0.eot');src: url('webfonts/31805B_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31805B_1_0.woff2') format('woff2'),url('webfonts/31805B_1_0.woff') format('woff'),url('webfonts/31805B_1_0.ttf') format('truetype');}


@font-face {font-family: 'CoreMellow35Light';src: url('webfonts/31805B_2_0.eot');src: url('webfonts/31805B_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31805B_2_0.woff2') format('woff2'),url('webfonts/31805B_2_0.woff') format('woff'),url('webfonts/31805B_2_0.ttf') format('truetype');}


@font-face {font-family: 'CoreMellow45Regular';src: url('webfonts/31805B_3_0.eot');src: url('webfonts/31805B_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31805B_3_0.woff2') format('woff2'),url('webfonts/31805B_3_0.woff') format('woff'),url('webfonts/31805B_3_0.ttf') format('truetype');}


@font-face {font-family: 'CoreMellow55Medium';src: url('webfonts/31805B_4_0.eot');src: url('webfonts/31805B_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31805B_4_0.woff2') format('woff2'),url('webfonts/31805B_4_0.woff') format('woff'),url('webfonts/31805B_4_0.ttf') format('truetype');}


@font-face {font-family: 'CoreMellow67CnBold';src: url('webfonts/31805B_5_0.eot');src: url('webfonts/31805B_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31805B_5_0.woff2') format('woff2'),url('webfonts/31805B_5_0.woff') format('woff'),url('webfonts/31805B_5_0.ttf') format('truetype');}
