
.show-on-mobile {
    display: none !important;
}

/* Max Width 1600px */

@media screen and (max-width: 1600px) {

    /* Typography */
    p {
        font-size: 14px;
    }

    /* Layout */
    .plus-icon img {
        width: 30px;
    }

    /* Top Ellipses */
    .top-ellipses {
        top: 22%;
    }

    /* Header */


    /*header .pulse-button-container {*/
        /*bottom: 200px;*/
    /*}*/

    /* We Incubate - Circle */
    #we-incubate .circle {
        top: 20%;
    }

    /* Creative Technologist */
    #creative-technologists {
        height: 823px;
    }

    #creative-technologist-grid .grid.inner {
        margin-top: 22%;
    }

    #creative-technologist-grid .column .icon-container .inner {
        height: 150px;
    }

    #creative-technologist-grid .icon, #creative-technologist-grid .icon-container {
        width: 150px;
    }

    #creative-technologist-grid .column .icon-container .inner section.back .copy {
        font-size: 14px;
    }

    div.battery .inner img {
        width: 150px;
    }

    /* Software Applications */
    #software-applications .inner img {
        width: 330px;
        margin-bottom: 10px;
    }

    /* Contact */
    #contact .logo {
        width: 350px;
    }

    .page-intro#experential-intro {
        height: 1120px;
    }

    /* Experiential */
    .page-experiential-technology .page-intro {
        height: 1200px;
    }

}

/* Max Width 1440px */

@media screen and (max-width: 1440px) {

    /* Typography */
    h1 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    h4.section-title, #we-incubate h4.section-title {
        font-size: 45px;
    }

    /* Rotating Banner */
    #rotating-banner.owl-carousel .owl-item img.logo {
        width: 250px;
    }

    /* Header */

    header .ui.text.container {
        max-width: 650px !important;
    }
    .fueltech-nav-wrapper .inner {
        padding-top: 0;
    }

    /* Creative Technologist */
    #creative-technologists {
        height: 737px;
    }

    #creative-technologist-grid .column .icon-container .inner {
        height: 140px;
    }

    #creative-technologist-grid .icon, #creative-technologist-grid .icon-container {
        width: 140px;
    }

    #creative-technologist-grid .column .icon-container .inner section.back .copy {
        font-size: 12px;
        line-height: 15px;
    }

    #creative-technologists > .inner .title p {
        display: none;
    }

    #creative-technologist-grid .grid.inner {
        margin-top: 15%;
    }

    div.battery .inner {
        margin-top: 45%;
    }

    #creative-technologists .title {
        top: -85px;
    }

    /* Portfolio Filter */
    #portfolio-filter {
        margin: 15px 0;
    }

    #portfolio-filter a, #clients-filter a {
        font-size: 14px;
    }

    /* Software Applications */
    #software-applications .inner {
        padding-right: 20px;
    }

    #software-applications .inner img {
        width: 200px;
        margin-bottom: 5px;
    }

    #software-applications p {
        font-size: 14px;
    }

    #software-applications p strong {
        font-size: 18px;
    }

    #logo-navigation img {
        width: 90px !important;
        margin-right: 14px;
    }

    #software-applications .inner {
        max-width: 540px;
    }

    /* Clients */
    .client-list-container img {
        width: 145px;
    }

    /* Fuel for Thought */
    #fuel-for-thought h2 {
        font-size: 30px;
    }

    /* Contact */
    #contact .logo {
        width: 250px;
    }

    #contact p, #contact a {
        font-size: 16px;
        line-height: 20px;
    }

    #contact h5 {
        font-size: 18px;
    }

    /* Projects Content */
    .cd-project-content .cd-project-content-carousel .owl-prev {
        left: 1%;
    }

    .cd-project-content .cd-project-content-carousel .owl-next {
        right: 1%;
    }

    /* Experiential Page */
    #mixed-reality .ui.container h1:first-of-type, .interior-page h1 {
        font-size: 50px;
    }

    .page-intro#experential-intro .inner {
        max-width: 750px;
    }

    #why-use-mixed-reality .icon {
        width: 200px;
    }

    .page-experiential-technology .page-intro {
        height: 1100px;
    }

    /* Interior Pages */
    .interior-page .inner p {
        font-size: 18px;
    }

    .interior-page .inner h5 {
        font-size: 25px;
    }

}

/* Max Width 1300px */

@media screen and (max-width: 1300px) {

    /* Creative Technologist */
    #creative-technologists {
        height: 664px;
    }

    /* We Incubate */
    #we-incubate .circle p {
        font-size: 12px;
        line-height: 20px;
    }

    #we-incubate .circle {
        left: 52%;
        width: 350px;
        height: 350px;
    }

}

/* Max Width 1280px */

@media screen and (max-width: 1280px) {

    .page-intro#experential-intro .title-content-wrap.flex section {
        top: -50px;
    }

    .fueltech-navigation-list a {
        font-size: 14px;
    }

    .page-experiential-technology .page-intro {
        height: 985px;
    }

    .portfolio-container .portfolio-container-inner h3, .cd-project-content h3 {
        font-size: 18px;
    }

    .portfolio-container .portfolio-container-inner .project-logo {
        width: 175px;
    }
}

/* Max Width 1100px */

@media screen and (max-width: 1100px) {

    /* Rotating Banner */
    #rotating-banner.owl-carousel .owl-item img.logo {
        width: 150px;
    }

    #rotating-banner.owl-carousel .owl-item h1 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    /* Menu */
    .fueltech-navigation-title {
        margin-bottom: 20px;
    }

    .fueltech-navigation-list dd {
        margin-bottom: 15px;
    }

    .fueltech-nav-wrapper .logo-block {
        position: static;
        padding: 35px 0 0 20px;
    }

    .fueltech-nav-wrapper .inner {
        position: relative;
        padding-bottom: 0;
    }

    .fueltech-nav-wrapper .inner:after {
        content: "";
        display: table;
        clear: both;
    }

    .fueltech-nav {
        display: block;
    }

    .fueltech-nav .fueltech-nav-wrapper {
        height: auto !important;
    }

    .fueltech-nav-wrapper .inner .fueltech-navigation-list.float-left {
        float: none;
    }

    /* Typography */
    h4.section-title, #we-incubate h4.section-title {
        font-size: 35px;
        letter-spacing: -2px;
    }

    /* Header */
    header .ui.text.container {
        max-width: 500px !important;
    }

    /*header .pulse-button-container {*/
        /*bottom: 75px;*/
    /*}*/

    header .pulse-button-container .line-container .bottom-vertical-line {
        height: 110px;
    }

    /* Rotating Banner Navigation */
    #rotating-banner-navigation {
        top: 65%;
    }

    /* Creative Technologist */
    #creative-technologists {
        height: 700px;
    }

    #creative-technologist-grid .grid.inner {
        margin-top: 20%;
    }

    #creative-technologists .circle-background {
        -webkit-background-size: 130% !important;
        background-size: 130% !important;
    }

    #creative-technologists .circle-background.left .ui.grid.inner .row:nth-of-type(2) {
        left: auto;
        text-align: left;
    }

    #creative-technologists .circle-background.right .ui.grid.inner .row:nth-of-type(2) {
        right: auto;
        text-align: right;
    }

    div.battery .inner {
        margin-top: 100%;
    }

    div.battery .inner img {
        width: 130px;
    }

    /* Ellipses */
    .top-ellipses {
        top: 23%;
    }

    /* We Incubate */
    #we-incubate .circle {
        left: 54%;
        width: 300px;
        height: 300px;
    }

    /* We Innovate */
    #logo-navigation img {
        width: 80px !important;
        margin-right: 12px;
    }

    /* Experiential Technology */
    .page-intro#experential-intro {
        height: 800px;
    }

    #mixed-reality .ui.container h1:first-of-type {
        font-size: 40px;
        line-height: 40px;
    }

    .page-intro#experential-intro .title-content-wrap.flex section {
        top: -75px;
    }

    #why-use-mixed-reality .icon {
        width: 175px;
    }

    #end-to-end-support .inner img {
        display: block;
        margin: 0 auto 20px auto;
        width: 200px;
        max-width: 100%;
    }

    #end-to-end-support .ui.grid .column:after {
        content: url('../images/plus.svg');
        position: absolute;
        right: -12px;
        top: 93px;
        display: block;
        color: #acacac;
        width: 25px;
        height: auto;
    }

    .page-experiential-technology .page-intro {
        height: 855px;
    }

    /* Interior Pages */
    .interior-page h1 {
        font-size: 40px;
    }

    .interior-page .inner h5 {
        font-size: 18px;
    }

    .interior-page .inner p, .interior-page ul li {
        font-size: 14px;
        line-height: 20px;
    }

    .interior-page .inner p.title {
        font-size: 16px;
    }

    /* Interior Page - CTA */
    #cta .ui.stackable.grid > .column:not(.row) {
        width: 100% !important;
        margin: 0 !important;
    }

    /* Interior Page - Page Intro */
    .page-intro .icon img {
        width: 40px;
    }

    .page-intro .icon h4 {
        font-size: 14px;
    }

}

/* Max Width 1024px */

@media screen and (max-width: 1024px) {

    .video-js .vjs-big-play-button {
        height: 50px;
        width: 50px;
    }

    .vjs-big-play-centered .vjs-big-play-button {
        margin-left: -30px;
    }

    .video-js .vjs-big-play-button:before {
        top: 5%;
    }

    #contact p, #contact a {
        font-size: 14px;
        line-height: 18px;
    }

    #contact .logo {
        width: 200px;
        margin-bottom: 15px;
    }

    .page-intro#experential-intro .title-content-wrap.flex section {
        top: -85px;
    }

    /* We Innovate */
    #we-innovate {
        height: auto;
    }

    /* Software Applications */
    #software-applications.hide-on-mobile {
        display: none !important;
    }

    #software-applications.show-on-mobile {
        display: block !important;
    }

    /* Software Applications */
    #software-applications .ui.stackable.grid > .column:not(.row) {
        width: 100% !important;
        margin: 0 !important;
        box-shadow: none !important;
    }

    #software-applications .responsive-video-wrapper video {
        width: 90%;
    }

    #software-application-video .show-on-mobile {
        display: block !important;
        width: 85%;
    }

    #software-application-copy .flex .inner:first-of-type {
        padding: 0;
    }

    #software-applications .software-application.inner {
        padding: 0;
        margin: 50px auto 0 auto;
    }

    #software-applications .inner {
        max-width: 650px;
    }

    /* Experiential */
    .page-experiential-technology .page-intro {
        height: 775px;
    }

}

/* Max Width 990px */

@media screen and (max-width: 990px) {

    .interior-page #contact h3 {
        font-size: 50px
    }

    /* Visiblity Classes */
    #creative-technologists .inner.hide-on-mobile, #creative-technologist-grid.hide-on-mobile {
        display: none !important;
    }

    #creative-technologist-mobile.show-on-mobile {
        display: block !important;
    }

    #creative-technologist-mobile.show-on-mobile .ui.grid {
        width: 100%;
        margin: 0;
    }

    #creative-technologist-mobile.show-on-mobile h5:first-of-type {
        font-family: "montserratlight";
        font-size: 22px;
        font-weight: normal;
        color: #272727;
        margin-bottom: 20px;
    }

    #creative-technologist-mobile.show-on-mobile h5 {
        color: #e57500;
        font-family: 'montserratregular';
        font-size: 16px;
    }

    #creative-technologist-mobile.show-on-mobile p:first-of-type {
        margin-bottom: 0;
        margin-top: -15px;
    }

    #creative-technologist-mobile.show-on-mobile p:last-of-type {
        margin-top: 10px;
    }

    /* Rotating Banner Navigation */
    #rotating-banner-navigation {
        left: 20px;
        top: 75%;
    }

    /* Rotating Banner */
    #rotating-banner.owl-carousel .owl-item .responsive-video-wrapper {
        float: right;
    }

    #rotating-banner.owl-carousel .owl-item img.banner-image, #rotating-banner.owl-carousel .owl-item .responsive-video-wrapper {
        width: 300px;
    }

    /* Creative Technologist Mobile */
    #creative-technologists {
        height: auto;
    }

    #creative-technologists h5, #creative-technologists h4 {
        margin: 0;
    }

    #creative-technologists h4 {
        margin-bottom: 15px;
    }

    #creative-technologist-mobile .plus-icon img {
        width: 20px;
        position: relative;
        top: -4px;
    }

    #creative-technologist-mobile .icon, #creative-technologist-mobile .icon-container {
        width: 140px;
        height: auto;
        max-width: 100%;
        display: inline-block;
    }

    #creative-technologist-mobile .icon-container {
        height: 170px;
        clear: both;
        display: block;
    }

    #creative-technologist-mobile .ui.grid .column:first-of-type .icon-container {
        float: right;
    }

    #creative-technologist-mobile .ui.grid .column:last-of-type .icon-container {
        float: left;
    }

    #creative-technologist-mobile .column .icon-container .inner section.back {
        background: url('../images/icon_circle_active.png') left top no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        height: 140px !important;
    }

    #creative-technologist-mobile .column .icon-container .inner section.back .copy {
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        padding: 15px;
        color: #fff;
    }

    #creative-technologist-mobile p {
        width: 80%;
        margin: 0 auto 20px auto;
    }

    .plus-icon {
        display: inline-block;
        margin-top: 20px;
    }

    /* We Incubate */
    #we-incubate .circle {
        top: 18%;
        left: 56%;
        width: 275px;
        height: 275px;
    }

    #we-incubate h4.section-title {
        font-size: 32px;
    }

    /* Experiential Page */
    #end-to-end-support .inner img {
        display: block;
        margin: 0 auto 20px auto;
        width: 170px;
        max-width: 100%;
    }

    #end-to-end-support .ui.grid .column:after {
        content: url('../images/plus.svg');
        position: absolute;
        right: -8px;
        top: 88px;
        display: block;
        color: #acacac;
        width: 15px;
        height: auto;
    }

    .page-intro#experential-intro .title-content-wrap.flex section {
        top: -100px;
    }

    .interior-page #experential-intro h1.title:first-of-type {
        font-size: 70px;
    }

    .interior-page #experential-intro h1.title:last-of-type {
        font-size: 68px;
    }

    .page-intro#experential-intro {
        height: 800px;
    }

    #end-to-end-support {
        margin-bottom: 100px;
    }

}

/* Max Width 850px */

@media screen and (max-width: 850px) {

    .portfolio-container .portfolio-container-inner h3, .cd-project-content h3 {
        font-size: 16px;
    }

    .portfolio-container .portfolio-container-inner .project-logo {
        width: 135px;
    }

    /* Ellipses */
    .top-ellipses {
        top: 26%;
    }

    /* We Incubate */
    #we-incubate .circle.hide-on-mobile {
        display: none !important;
    }

    #we-incubate-mobile.show-on-mobile {
        display: block !important;
    }

    #we-incubate-mobile .inner {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 25px;
        text-align: center;
    }

    #we-incubate img {
        margin-top: 20px;
    }

    #we-incubate .line-container {
        top: 0;
    }

    #we-incubate .top-ellipses {
        top: 83px;
    }

    #we-incubate .bottom-ellipses {
        bottom: -21px;
    }

    /* Experiential Page */
    .page-intro#experential-intro {
        height: 700px;
    }

    .interior-page #experential-intro h1.title:first-of-type {
        font-size: 60px;
    }

    .interior-page #experential-intro h1.title:last-of-type {
        font-size: 55px;
    }

}

/* Max Width 768px */

@media screen and (max-width: 768px) {

    .single-blog blockquote p {
        font-size: 18px;
        line-height: 26px;
    }

    #we-incubate {
        margin-top: 200px;
    }

    .portfolio-container .portfolio-container-inner .project-logo {
        width: 115px;
    }

    .cd-project-content .cd-project-content-carousel .owl-nav img {
        width: 20px;
    }


    .page-experiential-technology .page-intro {
        height: 675px;
    }

    #header-logo-container .ui.grid .column:last-of-type {
        display: none !important;
    }

    .fueltech-navigation-title {
        font-size: 25px;
    }

    #contact br {
        display: none;
    }

    /* Header */
    header .ui.text.container {
        max-width: 464px !important;
    }

    /* Ellipses */
    .top-ellipses {
        top: 28%;
    }

    /* Rotating Banner */
    #rotating-banner h1 {
        letter-spacing: 4px;
    }

    /* Portfolio */
    #portfolio-filter #link-filter.hide-on-mobile {
        display: none !important;
    }

    #portfolio-filter #select-filter.show-on-mobile {
        display: block !important;
    }

    #select-filter .inner {
        max-width: 500px;
        margin: 0 auto;
    }

    .ui.fluid.dropdown {
        text-transform: uppercase;
        font-family: 'montserratregular';
        color: #4f4f4f;
    }

    /* Clients */
    #client-text-filter.hide-on-mobile {
        display: none !important;
    }

    #client-select-filter.show-on-mobile {
        display: block !important;
    }

    #client-select-filter .inner {
        max-width: 500px;
        margin: 0 auto;
    }

    /* Fuel for Thought */
    #fuel-for-thought .ui.container {
        margin: 0 !important;
        width: 100%;
    }

    /* Experiential Page */
    .page-intro#experential-intro .title-content-wrap.flex section {
        top: -120px;
    }

    .page-intro#experential-intro {
        height: 650px;
    }

    .page-intro#experential-intro .inner {
        padding: 0 20px;
    }

}

/* Max Width 767px */

@media screen and (max-width: 767px) {

    #end-to-end-support h1 {
        margin-bottom: 30px;
    }

    #mixed-reality .icon-wrap {
        margin-bottom: 50px;
    }

    #our-clients img {
        width: 135px;
        margin-top: -40px;
    }


    .portfolio-container .portfolio-container-inner h3, .cd-project-content h3 {
        font-size: 25px;
    }

    .portfolio-container .portfolio-container-inner .project-logo {
        width: 225px;
    }

    #contact .ui.form .ui.button {
        text-align: center;
    }

    /* Header */
    header .ui.text.container {
        max-width: 600px !important;
    }

    #header-logo-container img {
        width: 175px;
        height: auto;
        max-width: 100%;
    }

    #header-logo-container .ui.grid .column {
        width: 100% !important;
    }



    /* Rotating Banner */
    #rotating-banner .ui.grid .column {
        width: 100%;
    }

    #rotating-banner-navigation {
        top: 50%;
    }

    /* Experiential Page */
    #end-to-end-support {
        text-align: center;
    }

    #why-use-mixed-reality .inner img {
        float: none !important;
    }

    #why-use-mixed-reality #explore-icon section:before, #why-use-mixed-reality #track-icon section:before, #why-use-mixed-reality #track-icon section:after {
        display: none;
    }

    #why-use-mixed-reality #explore-icon section:after, #why-use-mixed-reality #gamify-icon section:after {
        content: url('../images/plus.svg');
        display: block;
        position: static;
        margin: 15px auto 0 auto;
        width: 30px;
        height: auto;
    }

    #why-use-mixed-reality #track-icon img {
        margin-top: 0;
    }

    /* Interior Pages */
    #contact.interior h2 {
        margin-bottom: 25px;
    }

    .page-intro {
        padding: 150px 20px 0 20px;
    }

    .page-experiential-technology .page-intro {
        padding: 0;
    }

    .interior-page #contact h3 {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .interior-page #contact .logo {
        width: 150px;
    }

    /* Interior Page - Marketing */
    #marketing-process {
        margin: 35px 0;
    }

    #marketing-process img {
        display: inline-block;
    }

    .marketing-process-inner {
        display: block;
    }

    .marketing-process-inner ul {
        max-width: 200px;
        margin: 0 auto;
    }

    #marketing-process h5, #marketing-process img, #marketing-process ul li {
        text-align: center;
    }

    #marketing-process ul li {
        padding: 0;
    }
}

/* Max Width 690px */

@media screen and (max-width: 690px) {

    .cd-project-content .cd-project-content-carousel .video-js-responsive-container .video-js {
        height: 85% !important;
        width: 85%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .cd-project-content .cd-project-content-carousel .owl-prev, .cd-project-content .cd-project-content-carousel .owl-next {
        top: 40%;
    }

    .cd-project-content .cd-project-content-carousel .owl-item section {
        width: 85%;
    }

    /* Typography */
    h2 {
        font-size: 40px;
    }

    /* Top Ellipses */
    .top-ellipses {
        top: 220px;
    }

    /* Portfolio */
    #portfolio-filter #select-filter.show-on-mobile {
        margin-bottom: 50px;
    }

    /* We Incubate */
    #we-incubate .bottom-ellipses {
        bottom: -17px;
    }

    /* Software */
    #software-applications .software-application.inner, #logo-navigation.inner {
        padding: 0 25px;
    }

    #logo-navigation img {
        margin-right: 10px;
    }

    /* Experiential Page */
    .page-intro#experential-intro .title-content-wrap.flex section {
        top: -140px;
    }

}

/* Max Width 575px */

@media screen and (max-width: 575px) {

    #fuel-for-thought {
        margin-top: 0;
    }

    #our-clients {
        margin-bottom: 0;
    }

    #contact {
        margin-top: 50px;
    }

    #header-logo-container img {
        width: 145px;
        margin-top: 5px;
    }

    .fueltech-navigation-title {
        margin-bottom: 20px;
    }

    .fueltech-navigation-title {
        font-size: 22px;
        line-height: 22px;
    }

    /* Header */
    #header-logo-container {
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    /* Experiential Technology */
    .page-intro#experential-intro {
        background: url('../images/experiential/banner_experiential_technology.jpg') no-repeat -45px top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .interior-page #experential-intro h1.title:first-of-type {
        font-size: 50px;
    }

    .interior-page #experential-intro h1.title:last-of-type {
        font-size: 45px;
    }

    .page-intro#experential-intro {
        height: 650px;
    }

    #mixed-reality .icon-wrap .inner {
        width: 49%;
        text-align: center;
    }

    #mixed-reality .icon-wrap .icon {
        width: 110px;
        height: auto;
        max-width: 100%;
    }

    #why-use-mixed-reality .icon {
        width: 145px;
    }

    .portfolio-container .portfolio-container-inner h3, .cd-project-content h3 {
        font-size: 18px;
    }

}

/* Max Width 500px */

@media screen and (max-width: 500px) {

    .page-experiential-technology .page-intro {
        height: 500px;
        margin-top: 150px;
    }

    .page-experiential-technology .page-intro .inner br {
        display: none;
    }

    /* Pulse Button */
    .pulse-button:after, .pulse-button:before, .pulse-button {
        width: 30px;
        height: 30px;
    }

    /* We Incubate */
    #we-incubate .top-ellipses {
        top: 106px;
    }

    #we-incubate .bottom-ellipses {
        bottom: -12px;
    }

    /* Software */
    #logo-navigation {
        margin-top: 50px;
    }

    #logo-navigation img {
        width: 69px !important;
    }

    /* Contact */
    #contact .inner {
        padding: 0 25px;
    }

    #contact p, #contact a {
        font-size: 14px;
        line-height: 20px;
    }

    /* Footer */
    footer p {
        font-size: 12px;
    }

    footer .pulse-button-container {
        right: 18px;
    }

    /* Interior Page */
    .interior-page .inner p.title, .interior-page p.title {
        font-size: 14px;
    }

    .interior-page p {
        font-size: 12px;
    }

    .portfolio-container .portfolio-container-inner .project-logo {
        width: 200px;
    }

}

/* Max Width 425px */

@media screen and (max-width: 425px) {

    .fueltech-nav-wrapper .logo-block img {
        width: 175px;
    }

    .portfolio-container .portfolio-container-inner .project-logo {
        width: 175px;
    }

    .portfolio-container .portfolio-container-inner h3, .cd-project-content h3 {
        font-size: 16px;
    }

    .cd-project-content .cd-project-content-carousel .owl-nav img {
        width: 12px;
    }

    /* Rotating Banner */
    #rotating-banner h1 {
        letter-spacing: 3px;
    }

    /* Typography */
    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 30px;
    }

    /* Header */
    header a {
        font-size: 12px;
    }

    /* Rotating Banner */
    #rotating-banner-navigation {
        left: 14px;
        top: 43%;
    }

    /* Logo Navigation */
    #logo-navigation img {
        width: 55px !important;
    }

    #logo-navigation img {
        margin-right: 9px;
    }

    /* We Incubate */
    #we-incubate .bottom-ellipses {
        bottom: -7px;
    }

    /* Experiential Page */
    .page-intro#experential-intro .title-content-wrap.flex section {
        top: -160px;
    }

    .interior-page #experential-intro h1.title:first-of-type {
        font-size: 40px;
    }

    .interior-page #experential-intro h1.title:last-of-type {
        font-size: 35px;
    }

    .page-intro#experential-intro {
        height: 550px;
    }

    #mixed-reality .ui.container h1:first-of-type, .interior-page h1, .interior-page h1.title {
        font-size: 35px;
        line-height: 32px;
        letter-spacing: -3px;
    }

    .page-intro#experential-intro .inner-content-wrap br {
        display: none;
    }

    .interior-page #experential-intro h1.title {
        padding: 8px 0;
    }

    /* Contact */
    #contact br {
        display: none;
    }

    /* Interior Page */
    .interior-page .inner h5 {
        font-size: 15px;
    }

    .interior-page .inner p, .interior-page ul li, .interior-page p small {
        font-size: 12px;
    }

    /* Interior Page - CTA */
    #cta .column .content h5 {
        font-size: 20px;
        line-height: 20px;
    }

}

/* Max Width 375 */

@media screen and (max-width: 375px) {

    .interior-page #contact h3 {
        font-size: 30px;
    }

    .portfolio-container .portfolio-container-inner h3, .cd-project-content h3 {
        font-size: 14px;
    }

    .portfolio-container .portfolio-container-inner .project-logo {
        width: 150px;
    }

    /* Header */
    header a {
        font-size: 10px;
    }

    /* Typography */
    h4.section-title, #we-incubate h4.section-title {
        font-size: 30px;
        letter-spacing: -2px;
    }

    p, #software-applications p {
        font-size: 12px;
    }

    /* Rotating Banner Navigation */
    #rotating-banner.owl-carousel .owl-item img.logo {
        width: 150px;
    }

    #rotating-banner-navigation {
        top: 33%;
    }

    /* Software */
    #software-applications p strong {
        font-size: 16px;
    }

    #mixed-reality .ui.container h1:first-of-type, .interior-page h1 {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 0;
    }

    #software-applications .inner img {
        width: 145px;
    }

    #creative-technologist-mobile .column .icon-container .inner section.back .copy, .coin-page-link {
        font-size: 10px;
        line-height: 12px;
    }
}

/* Max Width 320 */
@media screen and (max-width: 320px) {
    
    .page-experiential-technology .page-intro .title-content-wrap.flex .pulse-button-container {
        margin-top: -50px;
    }

    .page-intro#experential-intro {
        height: 500px;
    }

    .page-intro#experential-intro .title-content-wrap.flex section {
        top: -180px;
    }
}

/* Touch Device Queries */
@media only screen
and (min-device-width: 320px)  and (max-device-width: 1024px ) {


    /*Bread Crumb */

    .bread-current, .breadcrumbs .pipe, .breadcrumb a {
        font-size: 14px;
    }

    /* Rotating Banner */
    #rotating-banner .responsive-video-wrapper .hide-on-mobile {
        display: none !important;
    }

    #rotating-banner .responsive-video-wrapper .show-on-mobile {
        display: block !important;
    }

    /* Software */
    #software-application-video .hide-on-mobile {
        display: none !important;
    }

    #software-application-video .show-on-mobile {
        display: block !important;
    }

    #software-application-video .responsive-video-wrapper {
        width: 95%;
    }

    .software-application {
        display: block;
    }

}

