<nav class="fueltech-nav">
    <section id="menu-item-434"
             class="fueltech-nav-wrapper menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-sub">
        <section class="inner" id="12">
            <section class="fueltech-navigation-list float-left" id="12">
                <dt class="fueltech-navigation-title" id="12">We Are <br/> Creative + Technologist</dt>
                <dl class='fueltech-navigation-list'>
                    <dd id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/strategy/">Strategy</a>
                    <dd id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/design/">Design</a>
                    <dd id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/marketing/">Marketing</a>
                    <dd id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/learning/">Learning</a>
                    <dd id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/gamification/">Gamification</a>
                    <dd id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/3d-video/">3D + Video</a>
                    <dd id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/web/">Web</a>
                    <dd id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/mobile-apps/">Mobile Apps</a>
                    <dd id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/virtual-reality/">Virtual Reality</a>
                    <dd id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/augmented-reality/">Augmented Reality</a>
                    <dd id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/wearablesiot/">Wearables/IoT</a>
                    <dd id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                            href="http://staging.gnosys.com/fueltech_cms/crowd-sourcing/">Crowd Sourcing</a>
                </dl>
                </dd>
                <section id="menu-item-464"
                         class="fueltech-nav-wrapper menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-sub">
                    <section class="inner" id="2">
                        <dt class="fueltech-navigation-title" id="2">We Empower</dt>
                        <dl class='fueltech-navigation-list'>
                            <dd id="menu-item-466"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/our-work/">Our Work</a>
                            <dd id="menu-item-465"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/our-clients/">Our Clients</a>
                        </dl>
                    </section>
                </section>
                <section id="menu-item-467"
                         class="fueltech-nav-wrapper menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-sub">
                    <section class="inner" id="5">
                        <dt class="fueltech-navigation-title" id="5">We Innovate</dt>
                        <dl class='fueltech-navigation-list'>
                            <dd id="menu-item-473"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/fueltouch/">FuelTouch</a>
                            <dd id="menu-item-474"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/ideologi/">Ideologi</a>
                            <dd id="menu-item-475"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/video360/">Video360</a>
                            <dd id="menu-item-472"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/arcon/">Arcon</a>
                            <dd id="menu-item-471"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/realty4d/">Realty4D</a>
                        </dl>
                    </section>
                </section>
                <section id="menu-item-476"
                         class="fueltech-nav-wrapper menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-sub">
                    <section class="inner" id="4">
                        <dt class="fueltech-navigation-title" id="4">We Incubate</dt>
                        <dl class='fueltech-navigation-list'>
                            <dd id="menu-item-470"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/snap-diligence/">Snap Diligence</a>
                            <dd id="menu-item-469"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/gnosys/">Gnosys</a>
                            <dd id="menu-item-468"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/elucid/">Elucid</a>
                            <dd id="menu-item-477"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/patients-we-share/">Patients We
                                Share</a>
                        </dl>
                    </section>
                </section>
                <section id="menu-item-437"
                         class="fueltech-nav-wrapper menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-sub">
                    <section class="inner" id="4">
                        <dt class="fueltech-navigation-title" id="4">We Are</dt>
                        <dl class='fueltech-navigation-list'>
                            <dd id="menu-item-432"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/experiential-technology/">Experiential
                                Technology</a>
                            <dd id="menu-item-479"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/our-process/">Our Process</a>
                            <dd id="menu-item-478"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/fuel-for-thought/">Fuel for Thought</a>
                            <dd id="menu-item-433"
                                class="menu-item menu-item-type-post_type menu-item-object-page clear"><a
                                    href="http://staging.gnosys.com/fueltech_cms/contact/">Contact Us</a>
                        </dl>
                    </section>
                </section>
</nav>
